/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.wrapper {
  padding: 20px;
}

.app-footer {
  position: relative;
  bottom: 0;
  height: 50px; /* Set the height of the footer */
  padding-top: 20px;
}

.app-footer p {
  text-align: center;
  padding: 15px 0;
}

/*center the img in class app-header-name*/
.app-header-name img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}