/**
* App name color: 
* rgba(255, 166, 0, 0.3)
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgba(255, 166, 0, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.App {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  margin-left: 15%;
  margin-right: 15%;
}

section {
  width: 100%;
  min-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.dashboard-wrapper {
  min-width: 420px;
}

a,
a:visited {
  color: #000000;
}

input[type='email'],
input[type="text"],
input[type="password"],
input[type='number'],
select,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* confirmAlert.css */
.custom-ui {
  background-color: rgb(255, 255, 255) !important; /* rgba(255, 166, 0, 0.3) !important;*/
  border-radius: 0.5rem;
  border: 2px solid black !important;
  color: black !important;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.5rem;
  border-radius: 0.5rem;

}

.custom-ui button {
  background-color: rgba(255, 166, 0, 0.3) !important;
  border: 2px solid black !important;
  color: black !important;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

button[type="submit"], button {
  background-color: transparent;
}

button[type="submit"]:hover, button:hover, .dashboard-wrapper button:hover {
  background-color: rgb(255, 255, 255);
  /* change cursor style */
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

.dashboard-wrapper button {
  background-color: transparent;
  margin-right: 2px;
}

.app-header-name {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #000;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
}